<!DOCTYPE html>
<header>
  <nav>
    <div class="logo">
      <a href="#" id="logo-link" data-dynamic-redirect="true">
        <img src="/images/logo.png" alt="PyQuiz Logo" class="logo-img" />
      </a>
    </div>
    <div class="burger-menu">&#9776;</div>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/questions.html">Quiz</a></li>
      <li><a href="/study.html">Study</a></li>
      <li><a href="/daily.html">Daily</a></li>
      <li><a href="/leaderboard.html">Leaderboard</a></li>
      <li><a href="/account.html">Dashboard</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
  </nav>
</header>
