<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Successful</title>
    <link rel="stylesheet" href="/css/password_reset_link_success.css" />
    <link rel="stylesheet" href="/css/header_footer.css" />
  </head>
  <body>
    <div id="header-container"></div>
    <div id="password-reset-success-container">
      <h2>Password Reset Successful</h2>
      <p>
        Your password reset link has been successfully sent to your email. You
        can now safely close this page and open the link in your email to
        complete the password reset process.
      </p>
      <p>
        If you don't see the email in your inbox, please check your spam folder.
      </p>
    </div>
    <div id="footer-container"></div>
    <script type="module" src="/js/load_header_footer.js"></script>
  </body>
</html>
