<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/reset_password.css" />
    <link rel="stylesheet" href="/css/header_footer.css" />
  </head>
  <body>
    <div id="header-container"></div>
    <div id="reset-password-container">
      <h2>Reset Your Password</h2>
      <form id="resetPasswordForm">
        <label for="password">New Password</label>
        <div class="password-container">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your new password"
            required
          />
          <img
            id="toggle-password"
            src="/images/show-password.png"
            alt="Show/Hide Password"
            onclick="togglePasswordVisibility()"
          />
        </div>

        <label for="confirmPassword">Confirm Password</label>
        <div class="password-container">
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm your new password"
            required
          />
          <img
            id="toggle-confirm-password"
            src="/images/show-password.png"
            alt="Show/Hide Password"
            onclick="toggleConfirmPasswordVisibility()"
          />
        </div>

        <button type="submit">Reset Password</button>
      </form>
      <p id="helper-text"></p>
    </div>
    <div id="footer-container"></div>
    <script type="module" src="/js/load_header_footer.js"></script>
    <script type="module" src="/js/reset_password.js"></script>
  </body>
</html>
