@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color: #3776ab;
    --secondary-color: #ffd43b; 
    --text-color: #333;
    --button-hover: #ffcc00;
    --bg-gradient: linear-gradient(to right, #f5f7fa, #c3cfe2);
    --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--bg-gradient);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    text-align: left;
    justify-content: space-between; 
    align-items: center;     
}

#forgot-password-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 8px 16px var(--shadow-color);
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 550px;
    margin-top: 100px; 
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2.4rem;
    color: var(--primary-color);
    text-align: center;
}

label {
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    margin-top: 15px;
}

input {
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #bbb;
    font-size: 1.1rem;
    margin-top: 15px;
    width: 100%;
}

button {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 16px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 10px var(--shadow-color);
    width: 100%;
    margin-top: 25px;
}

button:hover {
    background: var(--button-hover);
    transform: scale(1.1);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);
}

#helper-text {
    margin-top: 10px;
    font-size: 16px;
    color: #f8d347;
    text-align: center;
}
