@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color: #3776ab; 
    --secondary-color: #ffd43b;
    --text-color: #333;
    --button-hover: #ffcc00;
    --bg-gradient: linear-gradient(to right, #f5f7fa, #c3cfe2);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --highlight-color: #f8d347; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    text-align: center;
    background: var(--bg-gradient);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    text-align: left;
    justify-content: space-between; 
    align-items: center;      

}

#password-reset-success-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 12px 24px var(--shadow-color);
    backdrop-filter: blur(15px);
    width: 100%;
    text-align: center;
    max-width: 700px;
    margin-top: 120px;
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    font-size: 2.8rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

p {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-bottom: 25px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

#password-reset-success-container p:first-of-type {
    font-weight: 500;
}

#helper-text {
    font-size: 1.1rem;
    color: var(--highlight-color);
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 0.5px;
}


@media (max-width: 768px) {
    #password-reset-success-container {
        padding: 30px;
        max-width: 90%;
    }
    h2 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.1rem;
    }
}
