@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color: #3776ab;
    --secondary-color: #ffd43b; 
    --text-color: #333;
    --button-hover: #ffcc00;
    --bg-gradient: linear-gradient(to right, #f5f7fa, #c3cfe2);
    --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--bg-gradient);
    color: var(--text-color);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    min-height: 100vh;
    text-align: center;
    flex-direction: column;

}


#registration-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 6px 12px var(--shadow-color);
    backdrop-filter: blur(8px);
    width: 90%;
    max-width: 500px;
    margin: auto;
}

h1 {
    font-size: 2.8rem;
    color: var(--primary-color);
}

.input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 15px 0;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 15px 0;
}

.password-container img {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    width: 20px;
    cursor: pointer;
}

button {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 14px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px var(--shadow-color);
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background: var(--button-hover);
    transform: scale(1.08);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#helper-text {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}

@media (max-width: 768px) {


    #registration-container {
        padding: 25px;
    }

    h1 {
        font-size: 2.2rem;
    }

    button {
        padding: 12px;
        font-size: 1rem;
    }
}